<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Авторизация</title>
    <link rel="stylesheet" href="/assets/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet" />
  </head>
  <body>
    <div class="authorization">
      <div class="authorization-block">
        <div class="authorization-block__image">
          <img src="/images/casual-life-3d-blue-scared-ghost.svg" alt="" />
        </div>
        <h1 class="authorization-block__header">Войдите в игру</h1>
        <form
          id="authorization-form"
          action="http://localhost:8080/login"
          method="POST"
          class="authorization-block__form">
          <input
            type="text"
            class="authorization-block__form__input"
            placeholder="admin"
            value="admin"
            name="login" />
          <% if (message) { %>
            <p class="alerting-form-message"> Неверные логин или пароль</p>
          <% } %>
          <input
            type="password"
            class="authorization-block__form__input"
            placeholder="admin616"
            value="admin616"
            name="password" />
          <input type="submit" class="authorization-block__form__button button" value="Войти" />
        </form>
      </div>
    </div>
    <script src="/auth/formAuthHandler.js"></script>
  </body>
</html>
