<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Игровое поле</title>
    <link rel="stylesheet" href="/assets/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet" />
  </head>
  <body>
    <header>
      <div class="logo"><img src="/images/logo.svg" alt="Логотип" /></div>
      <div class="nav-bar">
        <div class="nav-bar__cell active">Игровое поле</div>
        <div class="nav-bar__cell">Рейтинг</div>
        <div class="nav-bar__cell">Активные игроки</div>
        <div class="nav-bar__cell">История игр</div>
        <div class="nav-bar__cell">Список игроков</div>
      </div>
      <div class="signout">
        <button><a href="/logout"><img src="/images/signout.svg" alt="Выход" /></a></button>
      </div>
    </header>
    <main class="main-game">
      <div id="subject-list">
        <h1>Игроки</h1>
        <div class="container">
          <div class="subject-container">
            <div><img class="subject-icon" src="/images/zero.svg" /></div>
            <div class="subject-info">
              <div class="subject-name">Пупкин Владелен Игоревич</div>
              <div class="subject-percent">63% побед</div>
            </div>
          </div>
          <div class="subject-container">
            <div><img class="subject-icon" src="/images/x.svg" /></div>
            <div class="subject-info">
              <div class="subject-name">Плюшкина Екатерина Викторовна</div>
              <div class="subject-percent">23% побед</div>
            </div>
          </div>
        </div>
      </div>
      <div class="game-container">
        <div id="game-container">
          <div id="game-time">05:12</div>
          <div id="game-board">
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"><img src="/images/xxl-x.svg" /></div>
            <div class="cell"><img src="/images/xxl-zero.svg" /></div>
            <div class="cell"><img src="/images/xxl-zero.svg" /></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"><img src="/images/xxl-x.svg" /></div>
            <div class="cell"></div>
          </div>
          <div id="game-step">Ходит&nbsp;<img src="/images/zero.svg" />&nbsp;Владелен Пупкин</div>
        </div>
      </div>

      <div id="chat-container">
        <div class="msgs-container">
          <div class="msg-container other">
            <div class="msg-header">
              <div class="subject-name x">Плюшкина Екатерина</div>
              <div class="time">13:40</div>
            </div>
            <div class="msg-body">Ну что, готовься к поражению!!1</div>
          </div>
          <div class="msg-container me">
            <div class="msg-header">
              <div class="subject-name zero">Пупкин Владлен</div>
              <div class="time">13:41</div>
            </div>
            <div class="msg-body">
              Надо было играть за крестики. Розовый — мой не самый счастливый цвет
            </div>
          </div>
          <div class="msg-container me">
            <div class="msg-header">
              <div class="subject-name zero">Пупкин Владлен</div>
              <div class="time">13:45</div>
            </div>
            <div class="msg-body">Я туплю...</div>
          </div>
          <div class="msg-container other">
            <div class="msg-header">
              <div class="subject-name x">Плюшкина Екатерина</div>
              <div class="time">13:47</div>
            </div>
            <div class="msg-body">Отойду пока кофе попить, напиши в тг как сходишь</div>
          </div>
        </div>
        <div class="msg-interactive-elements">
          <textarea placeholder="Сообщение..."></textarea>
          <button><img src="/images/send-btn.svg" /></button>
        </div>
      </div>
    </main>
  </body>
</html>
