<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Рейтинг</title>
    <link rel="stylesheet" href="/assets/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet" />
  </head>
  <body>
    <header>
      <div class="logo"><img src="/images/logo.svg" alt="Логотип" /></div>
      <div class="nav-bar">
        <div class="nav-bar__item">Игровое поле</div>
        <div class="nav-bar__item active">Рейтинг</div>
        <div class="nav-bar__item">Активные игроки</div>
        <div class="nav-bar__item">История игр</div>
        <div class="nav-bar__item">Список игроков</div>
      </div>
      <div class="signout">
        <button><img src="/images/signout.svg" alt="Выход" /></button>
      </div>
    </header>
    <main class="main-rating">
      <div class="wrapper">
        <div class="rating-block">
          <p class="rating-block__name">Рейтинг игроков</p>
          <table class="rating-block__table">
            <thead>
              <tr class="rating-block__table__row">
                <th>ФИО</th>
                <th>Всего игр</th>
                <th>Победы</th>
                <th>Проигрыши</th>
                <th>Процент побед</th>
              </tr>
            </thead>
            <tbody>
              <tr class="rating-block__table__row">
                <td>Александров Игнат Анатолиевич</td>
                <td>24534</td>
                <td class="win">9824</td>
                <td class="lose">1222</td>
                <td>87%</td>
              </tr>
              <tr class="rating-block__table__row">
                <td>Шевченко Рафаил Михайлович</td>
                <td>24534</td>
                <td class="win">9824</td>
                <td class="lose">1222</td>
                <td>87%</td>
              </tr>
              <tr class="rating-block__table__row">
                <td>Мазайло Трофим Артёмович</td>
                <td>24534</td>
                <td class="win">9824</td>
                <td class="lose">1222</td>
                <td>87%</td>
              </tr>
              <tr class="rating-block__table__row">
                <td>Логинов Остин Данилович</td>
                <td>24534</td>
                <td class="win">9824</td>
                <td class="lose">1222</td>
                <td>87%</td>
              </tr>
              <tr class="rating-block__table__row">
                <td>Борисов Йошка Васильевич</td>
                <td>24534</td>
                <td class="win">9824</td>
                <td class="lose">1222</td>
                <td>87%</td>
              </tr>
              <tr class="rating-block__table__row">
                <td>Соловьёв Ждан Михайлович</td>
                <td>24534</td>
                <td class="win">9824</td>
                <td class="lose">1222</td>
                <td>87%</td>
              </tr>
              <tr class="rating-block__table__row">
                <td>Негода Михаил Эдуардович</td>
                <td>24534</td>
                <td class="win">9824</td>
                <td class="lose">1222</td>
                <td>87%</td>
              </tr>
              <tr class="rating-block__table__row">
                <td>Гордеев Шамиль Леонидович</td>
                <td>24534</td>
                <td class="win">9824</td>
                <td class="lose">1222</td>
                <td>87%</td>
              </tr>
              <tr class="rating-block__table__row">
                <td>Многогрешный Павел Виталиевич</td>
                <td>24534</td>
                <td class="win">9824</td>
                <td class="lose">1222</td>
                <td>87%</td>
              </tr>
              <tr class="rating-block__table__row">
                <td>Александров Игнат Анатолиевич</td>
                <td>24534</td>
                <td class="win">9824</td>
                <td class="lose">1222</td>
                <td>87%</td>
              </tr>
              <tr class="rating-block__table__row">
                <td>Волков Эрик Алексеевич</td>
                <td>24534</td>
                <td class="win">9824</td>
                <td class="lose">1222</td>
                <td>87%</td>
              </tr>
              <tr class="rating-block__table__row">
                <td>Кузьмин Ростислав Васильевич</td>
                <td>24534</td>
                <td class="win">9824</td>
                <td class="lose">1222</td>
                <td>87%</td>
              </tr>
              <tr class="rating-block__table__row">
                <td>Стрелков Филипп Борисович</td>
                <td>24534</td>
                <td class="win">9824</td>
                <td class="lose">1222</td>
                <td>87%</td>
              </tr>
              <tr class="rating-block__table__row">
                <td>Галкин Феликс Платонович</td>
                <td>24534</td>
                <td class="win">9824</td>
                <td class="lose">1222</td>
                <td>87%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </body>
</html>
